<!-- Локальная переменная этого паршиала -->
<% question ||= nil %>
<!-- Определяем какая будет иконка -->
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>

<div class="question">
  <div class="question-content">
    <% q_user = question.questioning_user %>
    <% if q_user.present? %>
        Вопрос от пользователя: <%= link_to "@#{q_user.username}", q_user %>
    <% else %>
        Вопрос:
    <% end %>
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer if question.answer.present? %>
      </div>
    <% end %>

    <div class="question-date">
      <!-- Локализованный вывод даты вопроса в коротком формате -->
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <!-- Простая авторизация: только владелец вопроса может его редактировать -->
  <% if question.user == current_user %>
    <div class="question-actions">
      <%= link_to fa_icon(action_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>