<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Вопросы</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <div class="header-logo">
          <h1 class="header-title"><%= link_to "Вопросы", root_path %></h1>
        </div>
        <div class="header-nav">
          <!-- Если есть текущий юзер (значит он залогинен) -->
          <% if current_user %>
              <!-- Даем ссылки на его профиль и на логаут -->
              <%= link_to "@#{current_user.username}", user_path(current_user) %> |
              <%= link_to 'Выйти', session_path, data: {method: :delete} %>
          <% else %>
              <!-- Если нету - ссылки на регистрацию и логин -->
              <%= link_to 'Зарегистрироваться', new_user_path, class: 'button button-light button-small' %>
              <%= link_to 'Войти', new_session_path, class: 'button button-light button-small' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <% if flash.any? %>
          <div class="content-wrapper buffer-both">
            <% flash.each do |name, message| %>
              <%= content_tag :div, message, class: "flash-#{name}" %>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>


  </body>
</html>
